<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include ('includes/head') %>
  </head>
  <body>
    <%- include ('includes/navbar') %>
    <div class="container">
      <h1>Welcome</h1>
      <p>Hello world</p>
    </div>
    <%- include ('includes/footer') %>
    <script src="javascripts/index.js"></script>
  </body>
</html>